<nav class="nav-btn-container">
  <LinkTo @route="index" class="button">HOME
    {{svg-jar "003-home" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="about" class="button">ABOUT
    {{svg-jar "001-about" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="schedule" class="button">WORK WITH ME
    {{svg-jar "002-timetable" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="testimonials" class="button">TESTIMONIALS
    {{svg-jar "002-speech-bubble" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="contact" class="button">CONTACT
    {{svg-jar "001-envelope" class="nav-icon"}}
  </LinkTo>
</nav>
