<nav class="nav-btn-container">
  <LinkTo @route="index" class="button">HOME</LinkTo>
  <LinkTo @route="about" class="button">ABOUT</LinkTo>
  <LinkTo @route="schedule" class="button">WORK WITH ME</LinkTo>
  <LinkTo @route="testimonials" class="button">TESTIMONIALS</LinkTo>
  <LinkTo @route="contact" class="button">CONTACT</LinkTo>
</nav>


{{!-- {{svg-jar "003-home" class="nav-icon"}}
{{svg-jar "001-about" class="nav-icon"}}
{{svg-jar "002-timetable" class="nav-icon"}}
{{svg-jar "002-speech-bubble" class="nav-icon"}}
{{svg-jar "001-envelope" class="nav-icon"}} --}}