<nav class="nav-btn-container">
  <LinkTo @route="index" class="button right-curve">Home
    {{svg-jar "003-home" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="about" class="button">About
    {{svg-jar "001-about" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="schedule" class="button">Work With Me
    {{svg-jar "002-timetable" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="testimonials" class="button">Testimonials
    {{svg-jar "002-speech-bubble" class="nav-icon"}}
  </LinkTo>
  <LinkTo @route="contact" class="button left-curve">Contact
    {{svg-jar "001-envelope" class="nav-icon"}}
  </LinkTo>
</nav>
